<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать книги</title>
    <link rel="stylesheet" href="/admin.css"> <!-- Подключение CSS -->
</head>
<body>
<h1>Редактировать книги</h1>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody id="booksTableBody">
    <!-- Книги будут добавлены сюда через JavaScript -->
    </tbody>
</table>
<footer>
    <p>&copy; 2024 Электронная библиотека</p>
</footer>
<script>
    async function loadBooks() {
        const page = 0; // Номер страницы по умолчанию
        const size = 10; // Размер страницы по умолчанию
        const response = await fetch(`/api/books/all?page=${page}&size=${size}`); // Запрос на получение всех книг
        const data = await response.json();
        const books = data.content; // Получаем массив книг из объекта Page<BookDTO>
        const tableBody = document.getElementById('booksTableBody');

        books.forEach(book => {
            const row = document.createElement('tr');
            row.innerHTML = `
            <td>${book.title}</td>
            <td>
                <a href="/books/edit?id=${book.bookId}">Редактировать</a>
            </td>
        `;
            tableBody.appendChild(row);
        });
    }

    window.onload = loadBooks; // Загружаем книги при загрузке страницы
</script>
</body>
</html>
